@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik');
body {
	margin: 0;
}
body {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
}
h1 {
    margin-top: 60px;
    font-size: 28px;
    color: #FFBA08;
    text-align: center;
}
p {
    text-align: center;
    line-height: 26px;
    color: white;
}