@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik');

body {
  margin: 0;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
  background-color: green;
=======
  background-color: blue;
>>>>>>> task-a
}

h1 {
  margin-top: 60px;
  font-size: 28px;
  color: #FFBA08;
  text-align: center;
}

p {
  text-align: center;
  line-height: 26px;
  color: white;
}